{% include "header.html" %}


    <!--Navbar-->
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Hello World!</h1>
            <p class="lead">Hi! I'm Sakib Dalal</p>
            
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="./../static/me3.jpg" alt="" width="500" height="">
          </div>
        </div>
      </div>

      
    <!--About Me-->    
    <div class="container">      
    <div class="card mb-3 mt-5 shadow-lg" style="max-width: 1300px;">
        <h4 class="border pt-3 px-3 mb-4 ">About Me</h4>
        <div class="row g-0">
          <div class="col-md-4 px-3">
            <img src="./../static/m4.jpg" class="img-fluid rounded-start mb-4" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now </p>
            </div>
          </div>
        </div>
    </div>
   </div>  
    

    <!--Languages-->
    <div class="container mt-5 mb-5 col-10">
      <div class="p-3 mb-4 bg-white rounded-3 border shadow-lg">
          <div class="container-fluid py-5">
              <h4>I had learned</h4>
              <div class="container text-center mt-5 col col-sm-10 col-md-8 col-lg-12 col-xl-12 col-xxl-12">
                  <!--Set 1-->
                  <div class="row align-items-center col">
  
                    <div class="col">
                      <div class="col-lg-10">
                          <img height="80" width="80" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png" role="i" data-bm="35">                        
                          <h2 class="fw-normal">Python</h2>
                          <p></p>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="col-lg-10">
                          <img height="80" width="80" data-src-hq="https://th.bing.com/th?id=OSK.830992e6b8f0c7bc66cd3d6fa3db36b4&amp;w=46&amp;h=46&amp;c=11&amp;rs=1&amp;qlt=80&amp;o=6&amp;dpr=2.5&amp;pid=SANGAM" alt="C++" data-priority="2" id="emb32C8E8B5" class="rms_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" data-bm="47">                        
                          <h2 class="fw-normal">C++</h2>
                          <p></p>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="col-lg-10">
                          <img height="80" width="80" alt="HTML" data-priority="2" id="emb4AEAAB74" class="rms_img" src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_640.png" data-bm="51">                        
                          <h2 class="fw-normal">HTML</h2>
                          <p></p>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="col-lg-10">
                          <img height="80" width="80" alt="CSS" data-priority="2" id="emb345E17D2" class="rms_img" src="https://cdn.freebiesupply.com/logos/large/2x/css3-logo-png-transparent.png" data-bm="59">                        <h2 class="fw-normal">CSS</h2>
                          <p></p>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="col-lg-10">
                        <img height="80" width="80" alt="Arduino" data-priority="2" id="emb345E17D2" class="rms_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Arduino_IDE_logo.svg/2048px-Arduino_IDE_logo.svg.png" data-bm="59">                        
                        <h2 class="fw-normal">Arduino</h2>
                          <p></p>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="col-lg-10">
                          <img height="80" width="80" alt="MySQL" data-priority="2" id="emb5193B6C5" class="rms_img" src="https://cdn-icons-png.flaticon.com/512/4299/4299956.png" data-bm="42">                        
                          <h2 class="fw-normal">SQL</h2>
                          <p></p>
                      </div>
                    </div>
  
                  </div>
  
                  <!--Set 2-->
                  <div class="row align-items-center col">
  
                      <div class="col">
                        <div class="col-lg-10">
                          <img src="https://developer.apple.com/assets/elements/icons/swiftui/swiftui-96x96_2x.png" height="80">
                          <h2 class="fw-normal">Swift UI</h2>
                            <p></p>
                        </div>
                      </div>
    
                      <div class="col">
                        <div class="col-lg-10">
                          <img height="80" width="80" alt="C" data-priority="2" id="emb7B6E8681" class="rms_img" src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" data-bm="51">                          
                          <h2 class="fw-normal">C</h2>
                            <p></p>
                        </div>
                      </div>
    
                      <div class="col">
                        <div class="col-lg-10">
                          <img height="80" width="80" alt="Vim" data-priority="2" id="emb6AB9CC6C" class="rms_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Vimlogo.svg/1022px-Vimlogo.svg.png" data-bm="49">                          
                          <h2 class="fw-normal">Vim</h2>
                            <p></p>
                        </div>
                      </div>
    
                      <div class="col">
                        <div class="col-lg-10">
                          <img src="https://dashboard.snapcraft.io/site_media/appmedia/2016/07/hg6qhdveqziyh3zlcpev.png" height="80">
                            <h2 class="fw-normal">NVim</h2>
                            <p></p>
                        </div>
                      </div>
    
                      <div class="col">
                        <div class="col-lg-10">
                          <img height="80" width="80" alt="Linux" data-priority="2" id="emb51E80FB" class="rms_img" src="https://1000logos.net/wp-content/uploads/2017/03/LINUX-LOGO.png" data-bm="69">                          
                          <h2 class="fw-normal">Linux</h2>
                            <p></p>
                        </div>
                      </div>
    
                      <div class="col">
                        <div class="col-lg-10">
                          <img src="https://www.pngrepo.com/png/353782/512/git-icon.png" height="80">
                            <h2 class="fw-normal">Git</h2>
                            <p></p>
                        </div>
                      </div>
    
                    </div>
  
                </div>
  
  
  
          </div>
      </div>
  </div>
  

    <!--Social-->
    <div class="container ">
        <div class="my-3 p-3 bg-body rounded shadow-sm shadow-lg">
            <h4 class="border-bottom pt-3 pb-2 mb-2">Follow Me On</h4>

            <!--GitHub-->
            <div class="d-flex text-body-secondary pt-3">
                <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle color-fg-default">
                    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                </svg>              
                <div class="pb-3 mb-2 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between container">
                    <h5 class="text-gray-dark">GitHub</h5>
                    <button onclick="window.location.href='https://github.com/Sakib-Dalal'" class="btn btn-dark rounded-pill px-3" type="button">Follow</button>
                </div>
              </div>
            </div>

            <!--Twitter-->
            <div class="d-flex text-body-secondary pt-3">
                <svg viewBox="0 0 24 24" height="30" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp r-1nao33i r-16y2uox r-8kz0gk"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
     
                <div class="pb-3 mb-2 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between container">
                    <h5 class="text-gray-dark ">Twitter</h5>
                    <button onclick="window.location.href='https://twitter.com/sakib_dalal'" class="btn btn-dark rounded-pill px-3" type="button">Follow</button>
                </div>
              </div>
            </div>
            
            <!--Linkedin-->
            <div class="d-flex text-body-secondary pt-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" height="30" focusable="false">
                    <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                </svg>    

                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between container">
                    <h5 class="text-gray-dark ">LinkedIn</h5>
                    <button onclick="window.location.href='https://www.linkedin.com/in/sakib-dalal-7a8636254/'" class="btn btn-dark rounded-pill px-3" type="button">Follow</button>
                </div>
              </div>
            </div>


            </div>
          </div>
    </div>

    
{% include "footer.html" %}